* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-ben.ben.acx -text
/apertium-ben.ben.dix -text
/apertium-ben.ben.rlx -text
/apertium-ben.pc.in -text
/apertium-ben.post-ben.dix -text
/autogen.sh -text
/ben.prob -text
/configure.ac -text
/modes.xml -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
